@import 'tailwindcss';

body {
  background: #181821;
}

label {
  @apply flex items-center gap-1 mb-1;
}

input[type='text'],
input[type='email'] {
  @apply bg-slate-300 text-teal-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5;
}

textarea {
  @apply bg-slate-300  text-teal-900 text-sm rounded-lg resize-y focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5;
}

input[type='radio'] {
  @apply w-4 h-4  rounded bg-slate-300 focus:ring-4 focus:ring-teal-300 mr-2;
}

select {
  @apply bg-slate-300  text-teal-900 text-sm rounded-lg focus:ring-teal-500 focus:border-teal-500 block w-full p-2.5;
}

.btn-primary {
  @apply text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 rounded-md text-sm w-full sm:w-auto px-5 py-2 text-center cursor-pointer;
}

.notification-list {
  @apply fixed top-0 z-[100] flex max-h-screen w-full flex-col-reverse p-4 sm:bottom-0 sm:right-0 sm:top-auto sm:flex-col md:max-w-[420px];
}

.notification-item {
  @apply mb-4 pointer-events-auto relative flex w-full items-center justify-between space-x-2 overflow-hidden rounded-md p-4 pr-6 shadow-lg transition-all border-b border-b-teal-700 bg-zinc-900 text-slate-300;
}

.notification-btn {
  @apply inline-flex h-8 shrink-0 items-center justify-center rounded-md border border-teal-700 bg-transparent px-3 text-sm font-medium transition-colors hover:bg-teal-700 focus:outline-none focus:ring-1 focus:ring-gray-600 disabled:pointer-events-none disabled:opacity-50 cursor-pointer;
}
